# variables

In [1]:
# variables
# assignments variables

# int and float variable
x = 50

price = 6.55

discount = 0.2

result = price*(1 - discount)

print(result)

5.24

In [2]:
# string variable

name = 'deepak'

name = "deepak"

print(name)

deepak

In [3]:
name1 = name*2

print(name1)

deepakdeepak

In [4]:
a = 25
b = a

print(b)

b = 17

print(b)

print(a)

# the assignment don't change the other variable, if any changes made than it change to later variable only

25
17
25

In [5]:
# exerice 1
# assigning the two variable with same value
var1 = 52
var2 = 52

# two variable whose multiply give 16 as output
num1 = 8
num2 = 2

print(num1*num2)

16

In [6]:
# string formatting

name = "ram"

greeting = "Hello, ram"

print(greeting)

# f- string
name = "ram"

greeting = f"Hello, {name}"

print(greeting)

name = 'sham'

print(greeting)

# string format does not change dynamically

# so for this, use this

name = "bob"

print(f"Hello, {name}")


name = "sham"

print(f"Hello, {name}")

# we can use . format

name = "rolf"

print("Hello, {}".format(name))

name = 'deepak'

print("Hello, {}".format(name))

longer_phrase = "Hello, {}. Welcome to {}"

print(longer_phrase.format("deepak", "bootcamp"))

Hello, ram
Hello, ram
Hello, ram
Hello, bob
Hello, sham
Hello, rolf
Hello, deepak
Hello, deepak. Welcome to bootcamp

In [7]:
# we can use input()

name = input("Enter your name: ")

print("hello", name)


# change the input to int in order to have calculation for maths

weight = int(input("Enter your weight in kg: "))
weight_in_gms = weight * 1000

print("Your weight in gms is : {}".format(weight_in_gms) )

Enter your name: Shraddha Shrikamal Ramteke
hello Shraddha Shrikamal Ramteke
Enter your weight in kg: 45
Your weight in gms is : 45000

In [8]:
# writing our first program in python

age = int(input("Enter your age: "))
age_month = age * 12
print(f"Your age, {age}, is equal to {age_month} months  ")\

age_second= age * 12 * 30 * 24 * 60 *60

print(f"your age, {age}, is equal to {age_month} months and {age_second} seconds ")

Enter your age: 22
Your age, 22, is equal to 264 months
your age, 22, is equal to 264 months and 684288000 seconds

In [9]:
# list, tuples, sets, dicts

# mutable, different datatype, can access the element, allows duplicate variable
lst = ["bob", "rolf", "ganesh"]

print(lst[0])
lst[1] = "ram"
print(lst)

#  immutable, different datatype, can access the element, allows duplicate variable
tupl = ("bob", "rofl", "ganesh")
print(tupl[1])
# tupl[0] = "sham" # throw an error
print(tupl)
#  mutable, different datatype, can access the element,  doesn't allows duplicate variable
set1 ={"bob", "rofl", "ganesh", "bob", "rofl"}
print(set1)

bob
['bob', 'ram', 'ganesh']
rofl
('bob', 'rofl', 'ganesh')
{'ganesh', 'rofl', 'bob'}

In [10]:
# advance set operations

friends = {'bob', 'rofl', 'ganesh'}
local_friend = {'ganesh'}

# difference function
abroad = friends.difference(local_friend)
print(abroad)

# union function
set1 = {'bob', 'rofl', 'ganesh'}
set2 = {'ram', 'tina'}

total = set1.union(set2)
print(total)


# intersection function
art = {'tina', 'bob', 'ram', 'rofl', 'ganesh'}
science = {'rofl', 'bob', 'sham', 'deepak'}

both = art.intersection(science)
print(both)

{'rofl', 'bob'}
{'ganesh', 'tina', 'ram', 'rofl', 'bob'}
{'rofl', 'bob'}

In [11]:
# exercise 2 

# list with three number to get the sum as 100

my_list = [20, 65, 15]

# tuple with one single value

my_tuple= ('5',)

# intersection 
set1 = {14, 5 ,9, 31, 12, 77, 67, 8}
set2 = {5, 77, 9, 12}

set3 = set1.intersection(set2)
print(set3)

{9, 5, 12, 77}

In [12]:
# Boolean in python
# output comes in true or false, used to give comparison and give output
print(15 == 15)
print(5 > 4)
print(100 < 55)

# can use comparsion operator ==, !=, <=, >=, and so on

True
True
False

In [13]:
# if statements

day_of_week =input("What day of the week is it today?").lower()


if day_of_week == "monday":
  print("Have a great start of week!")
elif day_of_week == "tuesday":
  print("Its Tuesday")
else:
  print("full speed ahead")

print("Go on")

What day of the week is it today?tuesday
Its Tuesday
Go on

In [14]:
# in keyword 

# check for the list, tuple
science = {'rofl', 'bob', 'sham', 'deepak'}

print('rofl' in science)

fruits = ['apple', 'mango', 'banana', 'watermelon']
user_fruit = input("enter your fruit name: ")

print(user_fruit in fruits)

True
enter your fruit name: banana
True

In [15]:
# if and in statements
fruits = ['apple', 'mango', 'banana', 'watermelon']
user_fruit = input("enter your fruit name: ")

if user_fruit in fruits:
  print(f"I also like {user_fruit} also")
else:
  print(f"I would love to have {user_fruit}")



# another example

number = 7
user_input = input("Enter 'y' if you want to continue: ").lower()

if user_input == 'y':
  user_number = int(input("Enter your number"))
  if user_number == number:
    print("Your guess is right")
  elif abs(number - user_number)== 1:
    print("you are off by one")
  else:
    print("sorry, Nice try")

print("Thankyou for playing")

enter your fruit name: apple
I also like apple also
Enter 'y' if you want to continue: y
Enter your number23
sorry, Nice try
Thankyou for playing

In [16]:
# Loops in python

# repeat loop - while 
# definite loop - for loop

number = 7


while True:

  user_input = input("Would you like to play? (Y/n)")

  if user_input == "n":
    break

  user_number = int(input("Enter your number"))
  if user_number == number:
    print("Your guess is right")
    break
  elif abs(number - user_number)== 1:
    print("you are off by one")
  else:
    print("sorry, Nice try")

print("Thankyou for playing")

Would you like to play? (Y/n)y
Enter your number5
sorry, Nice try
Would you like to play? (Y/n)n
Thankyou for playing

In [17]:
# for loops 

fruits = ['apple', 'mango', 'banana', 'watermelon']

for fruit in fruits:
  print(fruit)

for fruit in range(4):
  print(fruit)

marks = [65, 55, 90, 75, 60]
total = 0
amount = len(marks)

for mark in marks:
  total = total + mark

print(total / amount)

apple
mango
banana
watermelon
0
1
2
3
69.0

In [18]:
# for loops 

fruits = ['apple', 'mango', 'banana', 'watermelon']

for fruit in fruits:
  print(fruit)

for fruit in range(4):
  print(fruit)

marks = [65, 55, 90, 75, 60]
total = 0
amount = len(marks)

for mark in marks:
  total = total + mark

print(total / amount)

apple
mango
banana
watermelon
0
1
2
3
69.0

In [19]:
# Dictonaries
# stored in keys and values

friend_ages = {'ram' : 25, 'rolf': 24, "adam": 55}

friend_ages["adam"]

friend_ages["adam"] = 20

print(friend_ages)

{'ram': 25, 'rolf': 24, 'adam': 20}

In [20]:
x = 5
y = 15

x, y

(5, 15)